*{
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html, body{
    margin:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background:#c7d1e0;
}

/* PAGE SYSTEM */
.page{
    position:fixed;
    inset:0;
    display:none;
}

.page.show{
    display:flex;
    flex-direction:column;
}

/* HOME */
#pageHome{
    justify-content:center;
    align-items:center;
}

.box{
    background:#ffffff;
    padding:40px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

#klikSini{
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}

#loading{
    display:none;
    margin-top:10px;
}

/* HEADER */
header{
    background:#2c3e50;
    color:white;
    padding:15px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header a{
    color:white;
    text-decoration:none;
}

.container{
    padding:20px;
    overflow:auto;
    flex:1;
}

.upload-box{
    background:rgb(225, 231, 139);
    padding:15px;
    border-radius:10px;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:rgb(218, 224, 164);
    margin-top:10px;
    padding:12px;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:10px;
    flex-wrap:wrap;
}

.actions a,
#preview a{
    color:#3498db;
    text-decoration:none;
    margin-left:10px;
    font-size:14px;
}

#preview{
    display:none;
    background:rgb(248, 248, 246);
    margin-top:20px;
    padding:15px;
    border-radius:10px;
}

@media(max-width:600px){
    .upload-box{
        flex-direction:column;
    }
    li{
        flex-direction:column;
    }
}
